.menudeataques {
    position: absolute;
    transform: translateX(-200%);
    background-color: #2350ca;
    min-width: 160px;
    border-radius: 5px;
    margin-left: 10px;
}
.adopcionPelea {
    position: absolute;
    transform: translateX(0%);
}
