.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
body {
  background-image: url(../imagenes/ee6001b16865c45d999273214f07bbd7eedf9936.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
  max-width: 700px;
}

.contenedor {
  position: relative;
  width: 100%;
}

.contenedor img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 80%;
  height: 60%;
  border: none;
  font-size: 3.6rem;
  text-align: left;
  color: #333;
  z-index: 1;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.input:focus {
  outline: none;
}

/* Botón dentro de la imagen */
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 80%;
  height: 60%;
  border: none;
  font-size: 3.7rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

#mensaje {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.mensaje {
  text-align: center;
  font-size: 4rem;
  margin-top: 3.6rem;
  color: white;
}

.mensaje a {
  color: #b0b3b7c2;
  text-decoration: none;
}

.mensaje a:hover {
  text-decoration: underline;
}