* {
    box-sizing: border-box;
}
body{
    background-image: url(../imagenes/Frame\ 340.png)
}
.footer{
    position: absolute;
    bottom: -15%;
    left: 0%;
    width: 100%;
    height: 200px;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
}
.menudeataques {
    position: absolute;
    transform: translateX(-200%);
    background-color: #2350ca;
    width: 100%;
    border-radius: 0px;
    transition: transform 1s ease-in;
}
.adopcionPelea {
    position: absolute;
    transform: translateX(0%);
}
.ataquechimuelo {
    position: absolute;
    display: flex;
    display: none;
}

.chimuelo {
    position: absolute;
    display: flex;
    display: block;
}
.adoptarAbilitado {
    background-color: green;
}
.adoptarBloqueado {
    background-color:red;
}


